.buttons {
  color: #005453;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 1px;
  font-family: Raleway, Arial;
  font-size: 1rem;
  font-weight: 700;
  line-height: 19px;
  display: flex;
}
