.component-4682 {
  color: #649a1d;
  background-color: #f2f9e9;
  border-radius: 2px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 1px;
  font-family: Raleway, Arial;
  font-size: .75rem;
  font-weight: 600;
  line-height: 14px;
  display: flex;
}
