.component-4681 {
  color: #e1b003;
  background-color: #fbf9ee;
  border-radius: 2px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 1px;
  font-family: Raleway, Arial;
  font-size: .75rem;
  font-weight: 600;
  line-height: 14px;
  display: flex;
}
